/* Base classes */
th, td {
	padding: 16px 8px;
}
td {
	height: 60px;
	background-color: black;
	border: 1px solid black;
}
.container {
	max-width: 960px;
	text-align: center;
}
.bowlingChallege {
	padding: 20px;
	width: 100%;
}
.pins-panel {
	padding: 20px;
	font-size: 20px;
	border:  2px solid green;
	
}

/* Utility classes */
.center {
	margin: 0 auto;
}
.btn-group {
	height: 40px;
}
.btn {
	display: inline-block;
	width: 240px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: white;
	cursor: pointer;
	transition: background-color 0.25s ease-in-out;
}
.btn-green {
	background-color: green;
}
.btn-blue {
	background-color: blue;
}
.btn:hover {
	background-color: black;
}

/* State classes */
.cleared {
	border: 1px solid green;
	background-color: white;
}
.hide {
  display: none;
}
.show {
  display: block;
}